<!DOCTYPE html>
<head>
  <title>OpenAI Prrudct description</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>  
  <h3>Describe product</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter product name" required />
    <textarea class="textarea" rows="5" name="params" placeholder="Enter product params" required></textarea>
    <input type="submit" value="Generate" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
